#archive-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    height: 10vh;
    width: 100vw;
    background-color: #101013;
    border-bottom: white 1px solid;
}

#header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#archive-title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-weight: 300;
}

#left-child {
    padding-left: 15px;
}

#right-child {
    padding-right: 15px;
}

section {
    width: 100vw;
    max-height: 85vh;
    overflow-y: scroll;
    background-color: #101013;
    flex-grow: 1;
}

footer{
    height: 5rem;
    background-color: #101013;
    border-top: white 1px solid;
}

#conditional-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    background-color: #101013;
    padding: 30px 40px 0 50px;
  }
  
  .grid-item {
    background-color: #1c1d2468;
    min-height: 100px;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 4px solid rgba(255, 255, 255, 0.8);
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0 30px 0 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item:hover {
    background-color: #1c1d24ca;
    cursor: pointer;
  }

  #conditional-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #no-render p {
    color: white;
    font-size: larger;
  }

  #go-home {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 11px 21px 11px 21px ;
  }

  #go-home:hover{
    color: #101013;
  }

  #right-child p {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
  }

  #left-child button {
    padding: 0;
  }

  #card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    width: 100%;
  }

  #top-bar {
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
  }

  #top-bar h1 {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;

  }


  #trash-button, #recycle-button {
    padding: 7px 0 7px 9px;
    height: 30px;
  }
  #confirm-container {
    height: 150px;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #box-one, #box-two {
    display: flex;
    justify-content: space-between;
  }

  #box-one {
    width: 90%;
  }

  #box-two {
    width: 80%;
  }

  #box-one p {
    font-size: 1.45rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
  }

 @media only screen  and (max-width: 1400px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    background-color: #101013;
    padding: 30px 40px 0 50px;
  }

 }
 @media only screen  and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    background-color: #101013;
    padding: 30px 40px 0 50px;
  }

 }

 @media only screen  and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
    background-color: #101013;
    padding: 30px 40px 0 50px;
  }

 }


 