#todo-container {
    border: 1px dotted black;
    border-radius: 5px;
    background-color: rgb(236, 247, 179) ;
    width: 300px;
    
}

.droppableContainerROOT {
    width: 50vw;
    background-color: mediumaquamarine;
    display: flex;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContainerA {
    width: 50vw;
    min-height: 30vh;
    background-color: darkkhaki;
}