html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}
.Header {
    width: 100vw;
    height: 15vh;
    background-color: #101013;
    display: flex;
    justify-content:center ;
    align-items: center;
    /*#0f4162*/
}

#title-container, #button-container, #timedisplay-container {
    width: 33vw;
    display: flex;
    color: white;
    align-items: center;
}

#title-container h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 3rem;
    padding-left: 10%;
}

#streaks-container input {
    height: 30px;
    width: 30px;
    position: absolute;
  opacity: 0;
  cursor: pointer;
}
#streaks-container {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
#button-container {
    flex-direction: column-reverse;
    height: 2.5rem;
    justify-content: center;    
}

#button-container button {
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(39, 95, 67);
}

#timedisplay-container {
    justify-content: end;
}

#timedisplay-container p {
    padding-right: 10%;
    font-family: 'Poppins', Regular 400;
    font-weight: 200;
    font-size: 1.3rem;

}







#todo-container {
    border-top: 1.3px solid rgb(0, 0, 0);;
    border-bottom: 1.3px solid rgb(0, 0, 0);;
    border-left: 1.3px solid rgb(0, 0, 0);;
    border-right: 1.3px solid rgb(0, 0, 0);;
    border-radius: 15px;
    background-color: white ;
    width: auto;
}

#delete-complete {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#checked, #trash {
    height: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 40px;
   
}

#trash {
    color: rgb(245, 100, 100);
}

#checked {
    color: rgb(6, 142, 31);
}
#date {
    font-weight: 500;
}

#emoji {
    height: 40px;
    width: 65px;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#emoji p {
    font-size: 1.5rem;
}

#emoji div {
    padding-top: 5px;
}

.Priority-Tasks, .Daily-Tasks, .Longterm-Tasks {
    width: 80%;
    height: 80%;
    overflow-y: auto;
    border-radius: 15px;
    border: #101013 2px solid;
    background-color: #2a2b34;
}

/*.Daily-Tasks{
    background-color: #baffc9;
}

.Priority-Tasks {
    background-color: #ffb3ba;
}

.Longterm-Tasks {
    background-color: #bae1ff;
} */



.Longterm-Tasks #todo-textbox {
    background-color: rgb(255, 255, 255);
   
    border-radius: 15px;
    
}


#todo-textbox {
    padding: 10px 15px 0px 15px;
}

#title-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#title {
    
    flex-grow: 1;
}

#title h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    
}

#notes {
    font-size: 1.2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    padding-top: 5px;
}


#task-category-flex {
    display: flex;
    background-color: #101013;
    flex-direction:row;
    justify-content: space-around;
    height: 70vh;
}

#task-counter-daily, #task-counter-priority, #task-counter-longterm {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

#task-counter-daily {
    background-color: #baffc9;
}

#task-counter-priority {
    background-color: #ffb3ba;
}

#task-counter-longterm {
    background-color: #bae1ff;
}

.Task-Type-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#seemore-container {
    padding-right: 15px;
    height: 30px;
    
}

#task-icon-name {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: black
}

#task-icon-name h2 {
    margin: 0;
    color: #e5e8ed;
    padding-left: 15px;
}



#priority-container, #daily-container, #longterm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1d24;
    border-radius: 15px;
    height: 70vh;
    width: 27.5%;
    /*#101013*/
}

.Footer-container {
    width: 100vw;
    height: 15vh;
    background-color: #101013;
    display: flex;
    justify-content: center;
    align-items: center;
}

#archive-container, #delete-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droppableContainerTrash, .droppableContainerArchive {
    width: 80%;
    height: 5rem;
    border-radius: 15px;
    border: #101013 solid 2px;
    background-color: #2a2b34;
    
}

#line-break-pri, #line-break-daily, #line-break-long {
    width: 90%;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#line-break-pri {
    background-color: #ffb3ba;
}

#line-break-daily {
    background-color: #baffc9;
}

#line-break-long {
    background-color: #bae1ff;
}

#reveal-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}



#icon-container {
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2b34;
    color:  #ffffff;
    cursor: pointer;
    
}


#dropcontain {
    height: 100%;
}

#text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

#text-container p {
    color: #ffffff;
    font-size: larger;
}





/* Stylign for modal */

#task-form {
    display: flex;
    justify-content:center ;
    align-items: center;
}

#form-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#formName, #formNotes, #formDate {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 2rem;
}

#formTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: #e5e8ed;
}

#formNotes {
    height: 100px;
}

#formNotes textarea {
    height: 100px;
    width: 250px;
    resize: none;
}

#formName p, #formDate p {
    padding-top: 5px;
    color: #e5e8ed;
}

#formName input {
    width: 175px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
}

#formDate input {
    width: 180px;
}

#formName input::placeholder {
    text-align: center;
    font-size: smaller;
}

#formSubmit {
    width: 250px;
}

#formSubmit button {
    width: 50px;
}