
.Header {
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#title-container, #button-container, #timedisplay-container {
    width: 33vw;
    display: flex;
    align-items: center;
}

#title-container h1 {
    font-family: 'Poppins', Regular 400;
    font-weight: 600;
    font-size: 3rem;
    padding-left: 10%;
}




#button-container {
    flex-direction: column-reverse;
    justify-content: center;    
}

#button-container button {
    width: 50%;
    background-color: white;
    border: black 1.5px solid;
    border-radius: 15px;
    color: black;
}

#timedisplay-container {
    justify-content: end;
}

#timedisplay-container p {
    padding-right: 10%;
    font-family: 'Poppins', Regular 400;
    font-weight: 200;
    font-size: 1.3rem;

}







#todo-container {
    border: 1px dotted black;
    border-radius: 5px;
    background-color: rgb(236, 247, 179) ;
    width: auto;
    
}

.droppableContainerSPAWN {
    width: 50vw;
    background-color: mediumaquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Priority-Tasks, .Daily-Tasks, .Longterm-Tasks {
    width: 80%;
    height: 90%;
    overflow-y: auto;
    background-color: rgb(238, 238, 238);
}

#todo-textbox-daily {
    background-color: red;
}

#todo-textbox-daily:has(input:checked)  {
    background-color: greenyellow;
}

:hover.Priority-Tasks, :hover.Daily-Tasks, :hover.Longterm-Tasks {
    background-color: aquamarine;
}





#task-category-flex {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    height: auto;
}

.button-container {
    background-color: aquamarine;
}

#priority-container, #daily-container, #longterm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    border-radius: 15px;
    height: 80vh;
    width: 30%;
}

.Footer-container {
    width: 100vw;
    height: 10vh;
    background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#archive-container, #delete-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droppableContainerTrash, .droppableContainerArchive {
    width: 80%;
    height: 4rem;
    border-radius: 15px;
    border:solid black 1.5px;
}




